// Variables para el tema claro
$primary: #5B7B6C; // Lila suave

$secondary: #a6d6b8; // Amarillo suave

$success: #A8D5BA; // Verde menta claro

$info: #A7C6ED; // Azul cielo suave

$warning: #F4C842; // Amarillo mostaza

$danger: #D84B2A; // Rojo ladrillo

$light: #F7F2F2; // Gris muy claro

$dark: #2C3E50; // Azul oscuro

$body-bg: #F4F7F6; // Fondo gris claro

$text-color: #4A4A4A; // Gris oscuro para el texto

